# Python
backend/venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/dist/

# Env files
.env
*.env

# Uploaded files
backend/uploads/*
!backend/uploads/.gitkeep
backend/vectorstore/*
!backend/vectorstore/.gitkeep
# OS
.DS_Store